<table class="centered striped bordered card">
  <thead>
    <tr>
      <th data-field="art">Card</th>
      <th data-field="name">Name</th>
      <th data-field="add-to-collection">Add To Collection</th>
    </tr>
  </thead>
  <tbody>
    {{#cards}}
      <tr>
        <td>
          <div class="valign-wrapper">
            <img class="responsive-img valign" src="assets/images/{{this.set}}/ENG/{{this.name}}.jpg">
          </div>
        </td>
        <td>{{this.name}}</td>
        <td>
          <button class="waves-effect waves-light btn deep-orange" data-card-name="{{this.name}}">Add</button>
        </td>
      </tr>
    {{/cards}}
  </tbody>
</table>
